mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

mat-slide-toggle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mat-mdc-dialog-actions {
  justify-content: flex-end; /* Align buttons to the right */
  gap: 0.5rem;
}
